<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="HotelValais" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Nicolas Solioz\Documents\Code\Visual Studio\BookingValais\BookingValais\App_Data\HotelValais.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>